<!doctype html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<!--/*@thymesVar id="levels" type="java.util.List<com.huotu.mallutils.service.entity.user.Level>"*/-->
<!--/*@thymesVar id="goodCatList" type="java.util.List<com.huotu.mallutils.service.entity.good.GoodCat>"*/-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="../../resource/css/admin.global.css" th:href="@{/resource/css/admin.global.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resource/css/admin.content.css" th:href="@{/resource/css/admin.content.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resource/scripts/lib/jBox/Skins/Green/jbox.css" th:href="@{/resource/scripts/lib/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/scripts/lib/jquery-1.7.2.min.js" th:src="@{/resource/scripts/lib/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/scripts/lib/jquery.utils.js" th:src="@{/resource/scripts/lib/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/scripts/lib/jBox/jquery.jBox-2.3.min.js" th:src="@{/resource/scripts/lib/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/scripts/lib/admin.js" th:src="@{/resource/scripts/lib/admin.js}"></script>
    <script type="text/javascript" src="../../resource/scripts/lib/jqueryui/jquery-ui-1.8.20.min.js" th:src="@{/resource/scripts/lib/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <link rel="stylesheet" type="text/css"
          href="../../resource/scripts/lib/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resource/scripts/lib/jqueryui/jquery-ui-1.10.3.custom.min.css}"/>
    <title>商品分类</title>
    <script type="text/javascript" th:inline="javascript">
        var ajaxUrl = /*[[@{/batchSetPrice/}]]*/ "";
    </script>
    <script type="text/javascript">
        var batchSetHandler = {
            showDialog: function () {
                if ($("input[name=chkCateId]:checked").length == 0) {
                    $.jBox.tip("请选择所要设置的商品分类");
                    return;
                }
                J.ShowDialog("bulkDiscount_dialog", "批量设置", function () {
                    var self = this;
                    var cateIdList = "";
                    $("input[name='chkCateId']:checked").each(function () {
                        cateIdList += $(this).val() + ",";
                    });

                    var evalInfos = ""; //levelId:priceEval:integralEval,levelId:priceEval:integralEval

                    var chkLevels = $("input[name=chkLevel]:checked");
                    if (chkLevels.length == 0) {
                        $.jBox.tip("请选择要设置的等级及相应的公式或具体值");
                        return;
                    }

                    chkLevels.each(function () {
                        var levelId = $(this).val();
                        var priceEvalStr = $.trim($("#priceEval" + levelId).val());
                        if (priceEvalStr.length == 0) {
                            priceEvalStr = "none";
                        }
                        var integralEvalStr = $.trim($("#integralEval" + levelId).val());
                        if (integralEvalStr.length == 0) {
                            integralEvalStr = "none";
                        }
                        evalInfos += levelId + ":" + priceEvalStr + ":" + integralEvalStr + ",";
                    });

                    var requestData = {
                        evalInfos: evalInfos.substring(0, evalInfos.length - 1),
                        cateIdList: cateIdList.substring(0, cateIdList.length - 1)
                    };
                    $.jBox.tip("正在设置...", "loading");
                    J.GetJsonRespons(ajaxUrl + "batchSetUserPriceByCats", requestData, function (json) {
                        if (json.code == 2000) {
                            $.jBox.tip("设置成功", "success");
                            $(self).dialog("close");
                        } else {
                            if (json.msg == null || json.msg == "") {
                                json.msg = "请检查输入的公式和值";
                            }
                            $.jBox.tip("设置失败:" + json.msg, "error");
                        }
                    }, function () {
                    }, "post");
                }, function () {
                    $(this).dialog("close");
                })
            }
        };

        $(function () {
            $("#levelCheckAll").change(function () {
                if ($(this).attr("checked")) {
                    $("input[name=chkLevel]").attr("checked", "checked");
                } else {
                    $("input[name=chkLevel]").removeAttr("checked", "checked");
                }
            });

            $("#checkAll").change(function () {
                if ($(this).attr("checked")) {
                    $("input[name=chkCateId]").attr("checked", "checked");
                } else {
                    $("input[name=chkCateId]").removeAttr("checked", "checked");
                }
            });
        })
    </script>
</head>
<body>
<div id="bulkDiscount_dialog" style="padding:20px;display: none;">
    <div class="dataTables_wrapper">
        <table width="100%" class="table_appss tablept5">
            <thead>
            <tr class="sdkbar" style="font-weight:bold;">
                <th align="center" rowspan="1" colspan="1">
                    <input type="checkbox" id="levelCheckAll"/>
                </th>
                <th align="center" rowspan="1" colspan="1">等级名称</th>
                <th align="center" rowspan="1" colspan="1">等级类型</th>
                <th align="center" rowspan="1" colspan="1">会员价公式/值</th>
                <th align="center" rowspan="1" colspan="1">可抵用积分公式/值</th>
            </tr>
            </thead>
            <tbody>
            <tr height="28px" class="odd" th:each="level:${levels}">
                <td align="center" style="width: 50px;">
                    <input type="checkbox" name="chkLevel" th:value="${level.id}"/>
                </td>
                <td align="center" th:text="${level.levelName}">
                </td>
                <td align="center" th:text="${level.type==0?'会员':'小伙伴'}">
                </td>
                <td>
                    <input type="text" th:id="'priceEval'+${level.id}"/>
                </td>
                <td>
                    <input type="text" th:id="'integralEval'+${level.id}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <p style=" clear:both"></p>
    </div>
    <p style="color: red;">说明:</p>

    <p style="color: red;">1.请输入公式:a表示销售价,b表示成本价,c表示市场价.如会员价为销售价的50%,则公式为a/2</p>

    <p style="color: red;">2.批量设置以后将会批量更新商品的会员价,不填则表示不设置</p>
</div>
<div class="container">
    <div class="blank10">
    </div>
    <form>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>

                <h3 style="float: left; width: 144px;">商品分类 </h3>

                <div class="bar">

                    <a class="btn-lit" href="javascript:batchSetHandler.showDialog()">
                        <span>设置</span></a>
                </div>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">

                <div class="cnt">
                    <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr class="even">
                            <th scope="col">
                                <input type="checkbox" id="checkAll"/>
                            </th>
                            <th scope="col">分类名称
                            </th>
                            <th scope="col">
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="goodCat:${goodCatList}">
                            <td class="txt40 c">
                                <input type="checkbox" name="chkCateId" th:value="${goodCat.catId}"/>
                            </td>
                            <td class="txt80" th:text="${goodCat.space()}+${goodCat.catName}">
                            </td>
                            <td class="txt40 c">
                                <a th:href="@{/batchSetPrice/goodList(catId=${goodCat.catId})}">查看商品</a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>